<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.roachfu.app.module.demo.pojo.entity.Demo" alias="Demo"/>
    </typeAliases>

    <plugins>
        <plugin interceptor="com.roachfu.app.util.plugins.StatementHandlerInterceptor">
            <property name="dialect" value="mysql"/>
        </plugin>
        <plugin interceptor="com.roachfu.app.util.plugins.ResultSetHandlerInterceptor" />
    </plugins>
</configuration>